<div id="<%= dom_id address %>">
  <div>
    <strong>Street address:</strong>
    <%= address.street_address %>
  </div>

  <div>
    <strong>City:</strong>
    <%= address.city %>
  </div>

  <div>
    <strong>State:</strong>
    <%= address.state %>
  </div>

  <div>
    <strong>Zip code:</strong>
    <%= address.zip_code %>
  </div>
</div>
