<br />
<br />

<strong>Weather Forecast for 7 days</strong>

<table class="table table-striped">
  <% @forecasts.collect{|f| f if f['isDaytime'].eql?(true) }.compact.each do |forecast|  %>
    <tr>
      <td>
        <%= forecast["name"] %> - <%= forecast['startTime'].to_date.strftime("%m/%d/%Y") %>
        <br />
        Temperature: <%= forecast['temperature'] %> <%= forecast['temperatureUnit'] %>
        <br />
        <%= forecast['detailedForecast'] %>
      </td>
    </tr>
  <% end %>
</table>